.angelo-ui-button {
  background-color: #80cbc4;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  color: #000000;
  padding: 1rem;
}

.angelo-ui-button.angelo-ui-small {
  padding: 0.75rem;
}

.angelo-ui-button.angelo-ui-large {
  padding: 1.25rem;
}

.angelo-ui-button:hover {
  background-color: #6fc5c2;
}

.angelo-ui-button:disabled {
  background-color: rgba(#6fc5c2, 0.5);
  color: rgba(#000000, 0.5);
}
